APP_NAME="Ismart Chatnot AI"
APP_ENV="development"


# API Keys and Secrets

FACEBOOK_APP_ID="your_fb_app_id"
FACEBOOK_APP_SECRET="your_fb_app_secret"

LINE_CHANNEL_ACCESS_TOKEN="your_line_access_token"
LINE_CHANNEL_SECRET="your_line_secret"

OPENAI_API_KEY="your_openai_api_key"

OMISE_PUBLIC_KEY="your_omise_public_key"
OMISE_SECRET_KEY="your_omise_secret_key"